<!DOCTYPE html>
<html>
    <head>
        <title>Tic Tac Toe</title>
        <style>
            table {
                border-collapse: collapse;
            }
            td {
                border: 1px solid black;
                width: 150px;
                height: 150px;
                font-size: 30px;
                text-align: center;
            }
            td > a {
                font-size: 18px;
            }
        </style>
    </head>
    <body>
        {% if winner %}
            {% if winner == 'tie' %}
                <h2>Tie!</h2>
            {% else %}
                <h2>Winner is {{ winner }}!</h2>
            {% endif %}
        {% endif %}    
        <table>
            {% for i in range(3) %}
                <tr>
                    {% for j in range(3) %}
                        <td>
                            {% if game[i][j] %}
                                {{ game[i][j] }}
                            {% else %}
                                {% if not winner%}
                                    <a href="{{ url_for('play', row=i, col=j) }}">Play {{ turn }} here.</a>
                                {% endif %}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <button><a href="{{ url_for('reset') }}">RESET</a></button>
        {% if num_history > 1 %}
            <button><a href="{{ url_for('undo_move') }}">UNDO MOVE</a></button>
        {% endif %}
    </body>
</html>